* {
	box-sizing: border-box;
}

#hero-vid {
    /* position: fixed; */
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
   
}

/* #hero-text {
    position: fixed;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    color: #f1f1f1;
    width: 100%;
    padding: 20px;
} */

#navbar-custom {
    background: black;
}

#portfolio-custom {
    background: blue;
}

#contact-custom {
    background: black;
.img-container {
	margin: auto;
	text-align: center;
  padding: 5%;
}

.profile-pic {
	height: 300px;
	width: 80%;
}

.text-container {
	padding: 5%;
}

.footer {
	height: 80px;
	background-color: grey;
	margin: auto;
	text-align: center;
}

.favicon-container {
	height: 100%;
}

.favicon {
	height: 80px;
	width: 80px;
}